# Auto detect text files and perform LF normalization
* text=auto
from Tkinter import *
import Tkinter as tk
import tkMessageBox as messagebox
from math import log


root = Tk()

topframe = Frame(root)
mainframe = Frame(root)
botframe = Frame(root)

topframe.pack()
mainframe.pack()
botframe.pack()

thelabel = Label(topframe, text='Double-TCOUT Window Heat Loss widget')
thelabel.pack(side=TOP)


def donothing():
    print('nothink')


# ************   MENU  *************
mainmenu = Menu(topframe)
root.config(menu=mainmenu)

submenu = Menu(mainmenu)
mainmenu.add_cascade(label="File", menu=submenu)
submenu.add_command(label='New', command=donothing)
submenu.add_command(label='Save', command=donothing)
submenu.add_command(label='Print', command=donothing)
submenu.add_separator()
submenu.add_command(label='Quit', command=topframe.quit)

helpmenu = Menu(mainmenu)
mainmenu.add_cascade(label="Help", menu=helpmenu)
helpmenu.add_command(label='Description', command=donothing)
helpmenu.add_command(label='Assumptons', command=donothing)
helpmenu.add_command(label='Cnotact Info.', command=donothing)
helpmenu.add_separator()
helpmenu.add_command(label='About', command=topframe.quit)

# ************   Toolbar
toolbar = Frame(topframe, bg='dark green')
BTUButt = Button(toolbar, text='BTU', command=donothing)
BTUButt.pack(side=LEFT)
SIButt = Button(toolbar, text='SI', command=donothing)
SIButt.pack(side=RIGHT)
toolbar.pack(side=TOP, fill=X)

# ***********   Status Bar
status = Label(root, text='Please Fill in the Fields...', bd=1, relief=SUNKEN, anchor=W)
status.pack(side=BOTTOM, fill=X)


def conv_gen():
    THOUT = float(entry_THOUT.get())
    THIN = float(entry_THIN .get())
    TCIN = float(entry_TCIN.get())
    TCOUT = float(entry_TCOUT.get())
    U = float(entry_U.get())
    mcpcold = float(entry_mcpcold.get())
    mcphot = float(entry_mcphot.get())
    steamcost = float(entry_steamcost.get())
    CWcost = float(entry_CWcost.get())
    HXCOST = float(entry_HXCOST.get())
    Period = float(entry_Period.get())
    deltalm_EX = (THIN-TCOUT-THOUT+TCIN)/(log((THIN-TCOUT)/(THOUT-TCIN)))
    Qex = (THIN-THOUT)*mcphot
    Areaex = Qex /(U*deltalm_EX )
    Cost_EX = 40000 + 180000 * Areaex ** 0.6

    return round(Cost_EX, 3)


def cond_gen():
    Tin = float(entry_THOUT.get())
    Tout = float(entry_outtemp.get())
    L1 = float(entry_TCIN.get())
    L3 = float(entry_TCOUT.get())
    mcpcold = float(entry_mcpcold.get())
    U = float(entry_U.get())
    Tf = (Tin + Tout) / 2 + 273.15
    deltat = Tin - Tout
    kair = 0.0243+(7.285*10**-5*(Tf-273.15))
    kTCIN = 0.99
    U = ((2 * abs(L1) / (1000 * kTCIN)) + (L3 / (1000 * kair))) ** -1
    qcond = mcpcold * U * U * deltat
    return round(qcond, 3)


def rad_gen():
    Tin = float(entry_THOUT.get())
    THIN = float(entry_THIN.get())
    mcpcold = float(entry_mcpcold.get())
    U = float(entry_U.get())
    qrad = abs(5.67 * 10 ** -8 * 0.95 * ((Tin + 273.15) ** 4 - (Tout + 273.15) ** 4))*mcpcold*U
    return round(qrad, 3)


def tot_gen():
    qtot = rad_gen()+cond_gen()+conv_gen()
    return round(qtot, 3)


def conv_display():
    heat = conv_gen()
    #heat_display = tk.Text(master=root, mcpcold=10, U=30)
    heat_display = Entry(mainframe)
    heat_display.grid(column=1, row=8)
    heat_display.insert(tk.END, heat )


def cond_display():
    heat = cond_gen()
    heat_display = Entry(mainframe)
    heat_display.grid(column=1, row=8)
    heat_display.insert(tk.END, heat )


def rad_display():
    heat = rad_gen()
    heat_display = Entry(mainframe)
    heat_display.grid(column=1, row=8)
    heat_display.insert(tk.END, heat )


def tot_display():
    heat = tot_gen()
    heat_display = Entry(mainframe)
    heat_display.grid(column=1, row=16)
    heat_display.insert(tk.END, heat )


def inputmessage():
    messagebox.showwarning('Wrong data entry!', 'Please inter Integers!')
    if quitmessage() == 'yes':
        quit()
    if quitmessage() == 'no':
        print('salam')


def quitmessage():
    answer = messagebox.askokcancel('Exit!', 'Are you sure?!')
    if answer == TRUE:
        quit()


def clear_text():
    entry_THOUT.delete(0, 'end')
    entry_THIN.delete(0, 'end')
    entry_TCIN.delete(0, 'end')
    entry_U.delete(0, 'end')
    entry_mcpcold.delete(0, 'end')
    entry_mcphot.delete(0, 'end')
    entry_HXCOST.delete(0, 'end')
    entry_steamcost.delete(0, 'end')
    entry_CWcost.delete(0, 'end')
    entry_Period.delete(0, 'end')
    entry_TCOUT.delete(0, 'end')
    entry_Deltamin.delete(0, 'end')
    entry_result.delete(0, 'end')


#class Heat:

#topframe = Frame(root) #, U=300, mcpcold=300)
#topframe.grid(row=0, column=1)
#bottomframe = Frame(root) #, U=300, mcpcold=300)
#bottomframe.grid(row=12, column=1, sticky=S)

# ------------       BUTTONS  ---------
butconv = Button (mainframe, text='Convection', command=conv_display )
butcond = Button (mainframe, text='Conduction', command=cond_display )
butrad = Button (mainframe, text='Radiation', command=rad_display)
butreset = Button (mainframe, text='Reset', command=clear_text)
buttotal = Button (mainframe, text='Total', command=tot_display)
quitbut = Button (mainframe, text='Quit', command=quitmessage)

butconv.grid(row=2, column=3)
butcond.grid(row=3, column=3)
butrad.grid(row=4, column=3)
butreset.grid(row=14, column=2)
buttotal.grid(row=13, column=3)
quitbut.grid(row=14, column=3)

# ---------------         LABELS  ----------
THIN = Label(mainframe, text='Hot In Temperature [C]')
THOUT = Label(mainframe, text='Hot Out Temperature [C]')
TCIN = Label(mainframe, text='Cold In Temperature [C]')
TCOUT = Label(mainframe, text='Cold Out Temperature [C]')
U = Label(mainframe, text='Heat Transfer Coef. U[kw/m2C]')
mcpcold = Label(mainframe, text='mcp cold stream [kw/c]')
mcphot = Label(mainframe, text='mcp hot stream [kw/c]')
HXCOST = Label(mainframe, text='Exchanger installation Cost [Kroner]')
Steamcost = Label(mainframe, text='Steam Cost [Kroner/kwh]')
CWcost = Label(mainframe, text='Cooling water Cost [Kroner/kwh]')
Period = Label(mainframe, text='Operation Period [hr]')
Deltamin = Label(mainframe, text='Delta T min [C]')
result = Label(mainframe, text='Total Cost')


entry_THIN = Entry(mainframe)
entry_THOUT = Entry(mainframe)
entry_TCIN = Entry(mainframe)
entry_TCOUT = Entry(mainframe)
entry_U = Entry(mainframe)
entry_mcpcold = Entry(mainframe)
entry_mcphot = Entry(mainframe)
entry_HXCOST = Entry(mainframe)
entry_steamcost = Entry(mainframe)
entry_CWcost = Entry(mainframe)
entry_Period = Entry(mainframe)
entry_Deltamin = Entry(mainframe)
entry_result = Entry(mainframe, highlightbackground="green")


THIN.grid(row=1, column=0, sticky=W)
THOUT.grid(row=2, column=0, sticky=W)
TCIN.grid(row=3, column=0, sticky=W)
TCOUT.grid(row=4, column=0, sticky=W)
U.grid(row=5, column=0, sticky=W)
mcpcold.grid(row=6, column=0, sticky=W)
mcphot.grid(row=7, column=0, sticky=W)
HXCOST.grid(row=8, column=0, sticky=W)
Steamcost.grid(row=9, column=0, sticky=W)
CWcost.grid(row=10, column=0, sticky=W)
Period.grid(row=11, column=0, sticky=W)
Deltamin.grid(row=12, column=0, sticky=W)
result.grid(row=16, column=0, sticky=W)


entry_THIN.grid(row=1, column=1)
entry_THOUT.grid(row=2, column=1)
entry_TCIN.grid(row=3, column=1)
entry_TCOUT.grid(row=4, column=1)
entry_U.grid(row=5, column=1)
entry_mcpcold.grid(row=6, column=1)
entry_mcphot.grid(row=7, column=1)
entry_HXCOST.grid(row=8, column=1)
entry_steamcost.grid(row=9, column=1)
entry_CWcost.grid(row=10, column=1)
entry_Period.grid(row=11, column=1)
entry_Deltamin.grid(row=12, column=1)
entry_result.grid(row=16, column=1)


root.mainloop()

